<form method="POST" action="project/create">
<div class="form-horizontal">
    <h4>New Project </h4>
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Project Name</label>
        <div class="col-md-10">
            <input name="name" class="form-control" value="" required=""/>
        </div>
    </div>
    <div class="form-group">
         <label for="description" class="control-label col-md-2">Description</label>
        <div class="col-md-10">
            <textarea name="description" class="form-control" required=""> </textarea>
        </div>
    </div>
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
</div>
</form>
