<div>
    <h1>Project Details #{{projects[details_id].id}}</h1>
    <dl class="dl-horizontal">
        <dt>Project Name:</dt>
        <dd>{{projects[details_id].name}}</dd>
        <dt>Description:</dt>
        <dd>{{projects[details_id].description}}</dd>
        <dt>Modified:</dt>
        <dd>{{projects[details_id].modifiedon}}</dd>
        <dt>Issues ({{projects[details_id].issues.length}}):<dt>
        <dd>
            <div ng-repeat="issue in projects[details_id].issues">
                <b>issue #{{issue.id}}</b> {{issue.description}}
            </div>
        </dd>
    </dl>
</div>

